* {
  box-sizing: border-box;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 14px;
}

body {
  padding: 2vw;
}

input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input:focus {
  outline: none;
}

button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: rgb(0, 50, 252);
  border: none;
  color: #fff;
  font-size: 1.4rem;
  cursor: pointer;
}

button:focus {
  outline: none;
}
